#gibson{
    font-family: 'Zen Old Mincho', serif; 
    color: white;
}
.barra{
    font-family: 'Monoton', cursive;
    background-color: rgb(255, 255, 255);
    margin-top: 2px;
    padding:auto;
    border-radius: 5%;
}
.Gibson{
    background-color: black;
}
.barra1{
    background-color: rgb(0, 0, 0);
}
#textoT{
    padding: auto;
}