body{
    background-color: rgb(255, 255, 255);
}
.fondo{
    background-image: url(../fotografo-demanda.jpg);
    background-attachment:unset;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fondo2{
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
}
.derecha{
    margin-top: 50px;
}
.container{
    box-shadow: 10px 6px 100px rgb(10, 10, 10);
}
.boton{
    margin-left: 250px;
}
#logito{
    border-radius: 5%;
    margin:auto;
    height: 300px;
    width: 300px;
}